---

---
<p>Hello World!</p>
<form>
  <input type="text" placeholder="siteUrl" name="siteUrl" class="input input-bordered text-black w-full max-w-xs" />
  <button class="btn bg-white-100" hx-post="/api/scan" hx-swap="afterend">Button</button>
</form>
